.content {
    margin-top: 180px;
    margin-bottom: 500px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: #e2e2e2 0px 0px 20px 1px;
    padding: 20px 0px 20px 0px;
    border: none;

}
