{% extends "_Base/Base.html" %}
{% load static %}

{% block content %}
    <div class="content col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1">
    <div class="row top">
        <div class="col-3 incoming" onclick="kind()"><img class="arrow" src="{% static "img/arrows/green.png" %}" height="20" width="20">/<img class="arrow" src="{% static "img/arrows/red.png" %}" height="20" width="20"></div>
        <div class="col-3 top-item amount" onclick="amount()">amount</div>
        <div class="col-3 top-item">from</div>
        <div class="col-3 top-item">to</div>
    </div>
    {% for factor in factors %}
        <div class="row detail">

            {% if factor.to.owner.id == user.id %}
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-2 arrow-detail"><img class="arrow" src="{% static "img/arrows/green.png" %}" height="18" width="18"></div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-2 amount-pos">+{{ factor.amount }}$</div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4 user">{{ factor.from_u.owner.username }}</div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4">You</div>
            {% else %}
                <div class="col-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 arrow-detail"><img class="arrow" src="{% static "img/arrows/red.png" %}" height="18" width="18"></div>
                <div class="col-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 amount-neg">-{{ factor.amount }}$</div>
                <div class="col-4 col-xl-3 col-lg-3 col-md-3 col-sm-3">You</div>
                <div class="col-4 col-xl-3 col-lg-3 col-md-3 col-sm-3">{{ factor.to.owner.username }}</div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/transactions.js' %}"></script>
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static "css/content.css" %}">
    <link rel="stylesheet" href="{% static "css/transactions.css" %}">
{% endblock %}